* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-y: hidden;
}

#game {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #101333;
  position: relative;
}

p {
  color: black;
  font-family: 'Lato', sans-serif;
}

.star {
  width: 1rem;
  height: auto;
  top: 1px;
  left: 1px;
}

#upgradeButton {
  display: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  bottom: 30px;
}

#upgradeButton:focus {
  outline: none;
}

#upgradeButton:active {
  background-color: orange;
}

#ground {
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

#rocket {
  width: 400px;
  height: 400px;
  bottom: 0;
  z-index: 1;
}

#rocketFlame {
  display: none;
  bottom: 0px;
  width: 100px;
  z-index: 1;
}

#arrowIcon {
  width: 1.5rem;
  height: auto;
  transform: rotate(0deg);
}

.logo {
  top: 50px;
  width: 70%;
  height: auto;
  max-width: 300px;
  max-height: 300px;
}

input[type="checkbox"]:focus {
  outline: 0;
}

.assets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.upgrades {
  margin: 20px;
  color: white;
  font-size: 2rem;
}

#slider.bought, .bought {
  background-color: orange;
}

#upgradeWindowContainer {
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 90%;
  height: 75%;
  top: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  z-index: 2;
  overflow-y: scroll;
}

#rocketStart {
  bottom: 70px;
  width: 200px;
  z-index: 2;
}

#turboMode {
  display: none;
  width: 175px;
  bottom: 66px;
  z-index: 2;
}

#shell1 {
  display: none;
  width: 120px;
  bottom: 167px;
  z-index: 2;
}

#shell2 {
  display: none;
  width: 93px;
  bottom: 231px;
  z-index: 2;
}

#wings1 {
  display: none;
  width: 161px;
  bottom: 175px;
  z-index: 1;
}

.blur {
  filter: blur(8px);
}

#startScreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1000;
}

#startGameButton {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  border-radius: .5rem;
  transform: translateY(100px);
}

#score {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#turbo {
  border-bottom: none;
}

.upgradeContainer {
  margin: 1rem;
  border-bottom: .5px solid white;
}

.upgradeContainer p {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

.checkboxes {
  display: flex;
  margin: 1rem 0rem 2rem 0;
}

.checkbox {
  margin-right: 2rem;
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 15px;
  border-radius: 2rem;
  display: inline-block;
  position: relative;
}

#slider.enabled, .checkbox:enabled {
  border: 2px solid orange;
}

.checkbox:disabled {
  background: lightgray;
}

.checkbox:active, .checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
  background-color: orange;
  border: 2px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

#switch {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 1rem;
}

#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

#slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

#turboCheckbox:checked+#slider {
  background-color: orange;
}

#turboCheckbox:focus+#slider {
  box-shadow: 0 0 1px orange;
}

#turboCheckbox:checked+#slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@keyframes jiggle {
  25% {
    left: 40%;
  }
  50% {
    left: 50%;
  }
  75% {
    left: 60%;
  }
  100% {
    left: 50%;
  }
}

.clickAnimation {
  animation: 2.6s linear infinite alternate jiggle;
}

@media only screen and (min-width: 550px) {
  #game {
    width: 550px;
    margin: 0 auto;
  }
  #ground {
    width: 550px;
  }
  #upgradeWindowContainer {
    width: 500px;
  }
}